@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.navbar{
    background-color:#2C3E50;
}

header img {
    width: 240px;
    height: 254px;
}

 .py-6 {
    padding: 150px 0px;
    background-color: #1abc9c;
 }

 h1 {
    font-size: 4rem;
 }

 header p {
    font-size: 1rem;
 }

 .page-section{
    padding: 3rem;
    font-size: 3rem;
    opacity: 0.90;
 }

 .col-md-4 {
    width: 33%;
 }

 .img-fluid {
   border-radius:10px;
   max-width: 100%;
   height: auto;
 }
 
.text-white {
   opacity: 1;
}

.bg-primary {
  background-color: rgb(26, 188, 156) !important;
}

.btn-xl {
   padding: 1rem;
   font-size: 1.25rem;
}

.footer {
   padding-top: 5rem;
   background-color: #2C3E50;
   color: #fff;
   }
.copyright {
   background-color: #1a252f;
}
